$gains-boro            : #EFEFF4;
$dark-gray             : #A6A7A8;
$antique-white         : #F2E6DD;
$snow                  : #F9F9F9;
$white                 : #FEFEFE;
$crimson               : #2c96f3;
$crimson-hover         : #7c99d8;

// Animations
@keyframes slidein {
  from {
    right: -300px;
  }

  to {
    right: 20px;
  }
}
