@import 'variables';

.nav-bar {
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  background-color: $white;
  box-shadow: 0 0.32em 2em rgba(153, 153, 153, .2);
  position: fixed;
  top: 0;
  left: 0;

  i {
    color: $crimson;
    font-size: 35px;
    margin-right: 10px;
  }
}
